body{
    background-color:chocolate;
}
head{
    background-color: rgb(136, 108, 33);
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    background-color: darkolivegreen;
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
   text-align:justify;
   box-shadow: none;
}
p{
    background-color: darkolivegreen;
    font-family: 'Inconsolata', monospace;
}
