/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Common styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
  
  /* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    animation: fade-in 1s;
  }
  
  .navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation ul li {
    margin: 0 10px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .navigation ul li a:hover {
    color: #007bff;
  }  
  
  
  .googleMap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; 
    overflow: hidden;
  }
  
  .googleMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  
  .main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .bountifulHistory h3,
  .contactInformation h3,
  .resources h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Align headings to the center */
  }
  
  .bountifulHistory p,
  .contactInformation p {
    line-height: 1.6;
    text-align: center; /* Align paragraphs to the center */
  }
  
  .resources ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Align list items to the center */
  }
  
  .resources li {
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  #lastTime {
    font-size: 12px;
    color: #666;
  }
  