
  /* styles/about.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    animation: fade-in 1s;
  }
  
  .navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation ul li {
    margin: 0 10px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .navigation ul li a:hover {
    color: #007bff;
  }  
  
  .main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .bountifulHistory h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .bountifulHistory p {
    line-height: 1.6;
  }
  
  .contactInformation h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contactInformation p {
    line-height: 1.6;
  }
  
  .googleMap {
    align-items: center;
    margin-bottom: 20px;
  }
  
  .resources h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .resources ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .resources li {
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  #lastTime {
    font-size: 12px;
    color: #666;
  }
  