/* style.css */

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-wrapper {
    margin-bottom: 20px;
  }
  
  .lazy {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .loaded {
    opacity: 1;
  }
  