body{
    font-style: italic;
    background-color:#FFFFFE;
}
nav {
    padding: auto;
    width: auto;
    background-color: #f25f4c;
}
header{
    margin: auto;
    display: grid;
}
footer{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: auto;
}
.title{
    text-align:center
}
.navigation{
    list-style: none;
    
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
	padding: 0.7rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a.navig::before {
    content: "🏠 ";
}
.navigation a:hover{
    color: whitesmoke;
    background-color: black;
}
.heading{
    text-align: center;
}
.responsive li {
	display: block;
}
.offLogo{
    width: 15%;
    padding: 10px;
    

}
div.logo1 img{
    width: 10fr;
    height: auto;
    position: relative;
    left: 200px;
    top: -110%;
}
div.logo2 img{
    width: 5%;
    height: auto;
    position: relative;
    left: 300px;
    top: -350%;
}

.responsive a.navig::before {
	content: "❌ ";
}
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
div.miniLogo{
    display: flex;
}
section.welcome,
section.event,
section.weather, 
section.join{
    position: relative;
    width: auto;
    left: auto;
    top: auto;
}
section.release{
    position: relative;
    width: auto;
    right: auto;
    top: auto;
}

.welcome,
.event,
.weather,
.release,
.join{
    text-align: center;
    background-color: #f25f4c;
}
.firstSpotlight,
.secondSpotlight{
   text-align: center; 
   background-color:#FF8906;
}
.thirdSpotlight{
    display: none;
}
section.firstSpotlight,
section.secondSpotlight{
    width: auto;
    margin: 1%;
}
.lastTime{
    text-align: center;
}

.bannerMessage{
    margin: 1px;
    padding: 1px;
    font-size: small;
    text-align: center;
}
.heading,
.social,
img{
   width: 100%;
   height: 100%;
 
}
footer{
    background-color: peru;
}
