/* Global Styles */
:root {
    --color-primary: #fffffe;
    --color-secondary: #0f0e17;
    --color-tertiary: #a7a9be;
    --color-accent: #ff8906;
    --color-accent1: #f25f4c;
    --font-family: 'Castoro Titling', serif;
    --font-size-base: 15px;
    --line-height-base: 1.5;
    --box-shadow-base: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --border-color-base: var(--color-secondary);
    --border-width-base: 2px;
    --border-radius-base: 0;
    --spacing-base: 1rem;
  }

  body {
    font-family: 'Castoro Titling', serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  textarea {
    width: 100%;
    height: 150px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Media Queries for Small Screens */
  
  @media (max-width: 480px) {
    .grid {
      display: block;
      text-align: center;
    }
    
    .navigation {
      margin-top: 10px;
    }
    
    form {
      padding: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  /* Media Queries for Medium Screens */
  
  @media (min-width: 481px) and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      align-items: center;
    }
    
    .navigation {
      text-align: right;
    }
    
    form {
      max-width: 700px;
    }
  }
  
  /* Media Queries for Large Screens */
  
  @media (min-width: 769px) {
    .grid {
      justify-content: space-between;
    }
    
    .navigation {
      text-align: right;
    }
    
    form {
      max-width: 900px;
    }
  }
  /* Small screens */
  @media (max-width: 768px) {
    /* Hide the menu by default */
    #menu ul {
      display: none;
    }
  
    /* Show the menu when the hamburger button is clicked */
    #menu ul.show {
      display: flex;
      flex-direction: column;
    }
  
    /* Style the hamburger button */
    #hamButton {
      display: block;
      background-color: transparent;
      border: none;
      color: var(--color-secondary);
      font-size: 2rem;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
  
  /* Large screens */
  @media (min-width: 769px) {
    #menu ul {
      display: flex;
      align-items: center;
    }
  
    #hamButton {
      display: none;
    }
  }

  a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }
  
  /* Hover effect */
  a:hover {
    color: var(--color-accent1); /* Change the color to highlight the current menu item */
  }

  /* Navigation Styles */
  .navigation {
    display: flex;
    justify-content: center;
  }

  .navigation li {
    margin-right: var(--spacing-base);
  }

  .navigation ul {
    display: flex;
  }
  
  .logo img {
    display: block;
    max-width: 20%;
    height: auto;
  }
  
  .bannerMessage {
    font-weight: bold;
  }
  
  /* Header Styles */
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  /* Main Styles */
  main {
    padding: 1rem;
  }
  
  /* Footer Styles */
  footer {
    padding: 20px;
    text-align: center;
    background-color: var(--color-tertiary);
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
  }