/* Styles for large screens */
@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .grid-container img {
    position: relative;
  }

  .grid-container img::after {
    content: "Large";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
  }

  .label-small,
  .label-medium {
    display: none;
  }

  .label-large {
    background-color: darkorange;
    position: relative;
    top: -319px;
    left: 40px;
  }

  #event  {
    width: 15%;
    height: 168%;
    position: relative;
    top: 167%;
}

  #weather  {
    width: 15%;
    height: 96%;
    position: relative;
    top: 118%;
}

  #weather h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #weather div {
    margin-bottom: 10px;
  }

  #temperature span,
  #wind-speed span,
  #wind-chill span {
    font-weight: bold;
  }

  #icon img {
    width: 50px;
    height: 50px;
  }

  #condition-value {
    text-transform: capitalize;
  }

  #join {
    width: 15%;
    height: 700%;
    position: relative;
    top: -271%;
}

  #release   {
    width: 55%;
    height: 249%;
    position: relative;
    left: 20%;
    top: 458%;
}

  #firstSpotlight   {
    width: 16%;
    height: 184%;
    position: relative;
    top: -271%;
    left: 79%;
}

  #secondSpotlight  {
    width: 16%;
    height: 213%;
    position: relative;
    top: -130%;
    left: 79%;
}

  #thirdSpotlight {
    width: 16%;
    height: 208%;
    position: relative;
    top: -1%;
    left: 79%;
}

  #hero  {
    width: 50%;
    height: auto;
    position: relative;
    top: 142%;
    left: 20%;
}

  .logo {
    max-width: 50%;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
}
