@media screen and (min-width: 70em) {
    main {
        display: grid;
        grid-column:3;
        grid-row:3;
    }
    header {
        font-size: 32px;
    }
    .heading  {
        font-size: 29px;
    }
    .heading a {
        font-size: 26px;
    }
    section p {
        font-size: 22px;
    }
    footer {
        font-size: 22px;
    }   
}
#lastTime{
    text-align: center;
}
.welcome{
    width: 50%;
    margin: auto;
    padding: 0%;
}
.event{
    width: 20%;
    margin-right: auto;
    top: -310%;
    position: relative;
    padding-left: 0%;
}
.weather{
    width: 20%;
    margin-right: auto;
    top: -450%;
    position: relative;
    padding: auto;
}
.join{
    width: 20%;
    margin-right: auto;
    top: -600px;
    position: relative;
    padding-left: 0%;
}
.release{
    width: 60%;
    margin: auto;
    top: -400px;
    position: relative;
}
.firstSpotlight{
    width: 20%;
    margin-left: auto;
    top: -1150px;
    position: relative;
    padding: auto;
}
.secondSpotlight{
    width: 20%;
    margin-left: auto;
    top: -1150px;
    position: relative;
    padding: auto;
}
.thirdSpotlight{
    width: 20%;
    margin-left: auto;
    top: -1150px;
    position: relative;
    padding: auto;
}
.logo1 img{
    width: 10%;
    margin-left:1000px;
    top: 50px;
    padding: 0%;
    position:absolute;

}
.logo2 img{
    width: 100px;
    margin-left: 300px;
    top: 50px;
    padding: 0%;
    position:absolute;
}