@media screen and (min-width: 70em) {
    main {
        display: grid;
        grid-column:2;
        grid-row:3;
    }
    header {
        font-size: 32px;
    }
    .heading  {
        font-size: 29px;
    }
    .heading a {
        font-size: 26px;
    }
    section p {
        font-size: 22px;
    }
    footer {
        font-size: 22px;
    }   
}
#lastTime{
    text-align: center;
}
.welcome{
    position: relative;
    width: 1px;
    top: 0%;
    
}
.welcome img{
    width: 50rem;
    
}
.event{
    width: 20%;
    
}
.weather{
    width: 20%;
    
}
.join{
    width: 20%;
    
}
.release{
    width: 60%;
    
}
.firstSpotlight{
    width: 20%;
    
}
.secondSpotlight{
    width: 20%;
    
}
.thirdSpotlight{
    width: 20%;
    display: block;
}
.logo img{
    width: 20%;
    height: 30%;
}
.logo1 img{
    width: 10%;
    

}
.logo2 img{
    width: 100px;
    
}
