@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
body
html
head
header
nav
.welcome
.event
.weather
.release
.firstSpotlight
.secondSpotlight
.logo
.miniLogo