/* Media Queries */
@media only screen and (min-width: 768px) {
  /* Medium Screens */
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  #welcome,
  #release {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    background-color: #ff8906;
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  #welcome h1,
  #release h1 {
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
  }

  #welcome p,
  #release p {
    grid-column: 1 / span 2;
  }

  #firstSpotlight,
  #secondSpotlight {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 2rem;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: center;
  }

  #firstSpotlight h2,
  #secondSpotlight h2 {
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
  }

  #firstSpotlight p,
  #secondSpotlight p {
    grid-column: 1 / span 2;
  }
}
