body{
    background-color:white;
    max-width: 600px;
    margin: 0 auto;
    float:none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 108, 33);
    width: auto;
  }
  
.header-name {
margin: 0;
font-family: 'Inconsolata', monospace;
font-family: 'Source Sans Pro', sans-serif;
}
  
h2{
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
   text-align:justify;
   box-shadow: none;
}
p{
    background-color: darkolivegreen;
}
img{
    width: 40%;
    height: auto;
}
.lastupdate{
    color: yellow;
    text-align: center;
}
.copyright{
    color: aliceblue;
    text-align: center;
}
